@use "reset";
@use "colors";

body {
  font-family: "Open Sans", sans-serif;

  color: var(--text-color);
  background-color: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
